[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
pydantic = "*"
starlette = "*"
sqlalchemy = "*"
bcrypt = "*"

[dev-packages]
uvicorn = "*"
sqlalchemy-migrate = "*"

[requires]
python_version = "3.9"
